a {
  text-decoration: none;
  color: inherit;
}

.link {
  &-inactive {
    filter: brightness(0.7);
    pointer-events: none;
  }

  &-section-anchor::before {
    content: "⬆️";
    margin-right: 0.2em;
  }
}
