@use "sass:map";

$font: "Lato", sans-serif;

$text-dark: #fff;
$text-light: #333;

$background-dark: #333;
$background-light: #f4f4f4;

$header-height: 5rem;
$header-padding: 1rem;

$footer-height: 3rem;

$content-padding: 2rem;

$shop-tile-size: 16rem;

$z-indexes: (
  under: -1,
  base: 0,
  over: 1,
);

$button-colors: (
  success: #28a745,
  danger: #dc3545,
  warning: #ffc107,
  info: #17a2b8,
);
